.btn{
    width : 100px;
    height: 50px;
  }
  .btn2{
    width : 100px;
    height: 30px;
  }

  .h{
    height: 40px;
    margin:auto;
    text-align:center;
    
  }
table, td {
    border: 1px
}
table{
    
    height: 100px;
    margin: auto;
    text-align: center;
}
h1{
    height: 40px;
    margin:auto;
    text-align:center;
    
}
h2{
    text-align:center;
}
div.button{
    margin:auto;
    width:50%
}
div.button input
{
   padding: 5px;
   width: 50%;
   font-size: 10px;
   float: left;
}
div.radio input{
    padding: 5px;
    width: 50%;
    font-size: 10px;
    float: left;
 }
div.findAll{
    margin:auto;
    width:20%
}
div.table{
    width: 100%;

}

.box {
   position: relative;; 
    top:50%; left:50%;
    
     margin-left:-100px; 
    width:200px; 
    }
    div.button2{
        margin:auto;
        width:50%
    }